.vscode
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*

log/*
model/*

data/test_bank_small/*
data/test_bank_small_/*
data/test_bank_small_/*/*

data/test_bank_big/*
data/test_bank_big_/*
data/test_bank_big_/*/*

data/sample_bank_/*/*
